.gradient_background {
    background: rgb(142,197,252);
    background: linear-gradient(206deg, rgba(142,197,252,1) 30%, rgba(255,0,32,0.8) 95%);
}

.loginContainer {
    height: 500px;
    width: 800px;
    background: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 6px var(--light-black);
    text-align: center;
    display: table;
}

.loginForm {
    display: table-cell;
    vertical-align: middle;
}

.loginForm h2 {
    color: var(--light-black);
    font-weight: bold;
    letter-spacing: 4px;
}

.loginFormEntries input {
    width: 80%;
    margin-top: 20px;
    background-color: var(--light-grey);
    box-shadow: 0 0 3px var(--light-black);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: none;
}

.loginSubmitBtn {
    background-color: var(--red);
    outline: none;
    border: none;
    color: var(--white);
    padding: 5px 60px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}

.loginSubmitBtn:focus, .loginFormEntries input:focus {
    outline: none;
}

.loginSubmitBtn:hover {
    background-color: var(--white);
    box-shadow: 0 0 2px var(--light-black);
    color: var(--black);
}

.loginForm p, .signUpHereTxt, .signUpHereTxt a:visited:not(.signUpHereBtnLink) {
    margin: 20px 0 10px 0;
    color: var(--grey-faded);
    text-decoration: none;
}

.signUpHereTxt a:hover, .forgotPasswordLink:hover {
    color: var(--red);
    text-decoration: none;
}

.forgotPasswordLink, .signUpHereBtnLink {
    color: var(--black);
    text-decoration: none;
}

/* RESPONSIVE CSS */
@media (max-width: 1550px) {
    .loginContainer {
        width: 70%;
        height: 500px;
    }

    .loginFormEntries input {
        width: 90%;  
    }
}

@media (max-width: 1350px) {
    body {
        background-color: var(--white) ;
    }
    
    .loginContainer {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .loginFormEntries input {
        width: 80%;  
    }
}