/* main container */
.sideBarDiv {
    width: 400px;
    height: 1000px;
    display: flex;
}

.sideFilter {
    margin: 15px auto;
    display: table;
    text-align: center;
    height: 40px;
    width: 90%;
    background-color: var(--light-grey);
    box-shadow: 0 0 1.7px var(--light-black);
    border-radius: 25px;
    padding: 15px 25px;
}

.sideFilter p {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1550px) {
    .sideBarDiv {
        display: none;
    }
}