/* main container */
.sideBarDiv {
    width: 400px;
    height: 100%;
    display: flex;
}

.sideFilter {
    margin: 15px auto;
    display: table;
    height: 40px;
    width: 90%;
    background-color: var(--light-grey);
    box-shadow: 0 0 1.7px var(--light-black);
    border-radius: 25px;
    padding: 15px 25px;
}

.sideFilter p {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.sidebar-filter {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.filterBrands {
    position: relative;
    display: table-row;
    margin-left: 0;
    padding: 0;
}

.filterBrands ul li{
    margin-left: 20px;
}

.filterBrands input[type="checkbox"] {
    display: inline-flex;
    float: right;
    margin-top: 6px;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1550px) {
    .sideBarDiv {
        display: none;
    }
}