:root {
  --primary-color: #000;
  --red: #FF0020;
  --light-grey: #f9f9f9;
  --grey-faded: #71717A;
  --darker-grey: #dfdfdf;
  --white: #fff;
  --black: #000;
  --light-black: #333;

}

body {
    width: 100vw;
    height: 100vh;
}