nav.mainNav {
    margin: 0;
    padding: 0 0 2px 0;
    justify-content: center;
    vertical-align: middle;
    z-index: 99;
}

.logoSection {
    margin: 0 15px;
    padding: 0;
}

.searchBar input , .searchBarMobile input{
    position: relative;
    width: 450px;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 15px;
    padding: 5px;
    border: var(--white);
    outline: none;
    text-indent: 5px;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mainNav h2 {
    display: none;
}

.topNav.li:hover {
    background-color: var(--red);
}


.mainNav {
    background-color: var(--darker-grey);
    color: var(--black);
    justify-content: space-between;
}

.nav-links {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 95vw;
}
 
.nav-links a {
    color: var(--black);
    vertical-align: middle;
}  

.menu {
    display: inline-flex;
    flex: 1;
    width: 95vw;
    font-size: 18px;
    position: relative;
}

div.accountButtons {
    display: flex;
    flex: 1;
    right: 0;
    justify-content: flex-end;
}

.accountButtons li {
    margin: 0 15px;
}

.menu > li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
    text-decoration: none;
}

.menu li {
    padding: 5px 15px;
    margin: 0 10px;
}

.department {
    position: relative;
    text-align: center;
}

.dropdown {
    background-color: var(--light-grey);
    padding: 1em 1em;
    margin-top: 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 2px var(--light-black);
}

.caret {
    width: 8px;
    margin-left: 5px;
}

.dropdown li + li:not(.afterDivider) {
    margin-top: 5px;
}

.dropdown li {
    width: 13em;
    text-align: center;
}

.dropdownLink {
    padding: 5px 35px;
}

.dropdownLink:hover {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
}

.divider {
    border-top: 1px solid var(--darker-grey);
    padding: 0;
    margin-top: 5px;
}

.department:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
  } 
  
.hamburger {
    display: none;
    user-select: none;
    font-size: 24px;
    padding: 0;
    vertical-align: middle;
}

.searchBarMobile {
    display: none;
}

li .afterSearch:hover {
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    border-radius: 20px;
}

li .afterSearch {
    padding: 5px 35px;
}

li.loginBtn a {
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px 35px;
}

li.loginBtn a:hover {
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
}

li.signUpBtn a {
    background-color: var(--red);
    color: var(--white);
    border-radius: 20px;
    padding: 5px 35px;
}

li.signUpBtn a:hover {
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}

/* KEYFRAMES */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    100% { opacity: 0; }
    0% { opacity: 1; }
  }

/* APPLYING MEDIA QUERIES */
@media (max-width: 1550px) {
    .logoSection {
        margin: 0;
        padding-left: 30px;
        width: 50%;
    }
    .nav-links {
        width: 50%;
        text-align: right;
    }

    .mainNav h2 {
        display: block;
        margin: 50px 0 20px 0;
        font-weight: bold;
        letter-spacing: 4px;
    }
    
    .menu {
        display: none;
        position: absolute;
        background-color:var(--darker-grey);
        right: 0;
        margin: 0;
        text-align: center;
        top: 0;
        z-index: -1;
        height: 100vh;
        width: 400px;
        padding: 10px 0 10px 0;
        border-radius: 0 0 20px 20px;
        filter: drop-shadow(5px 5px 10px);
    }

    .menu li {
        padding: 0;
        margin: 25px auto;
        cursor: default;
    }

    .menu li a:hover {
        width: 100%;
        transition: 0.3s ease;
    }

    .menu li + li:not(.afterDivider, .signUpBtn) {
        margin-top: 12px;
    }

    .accountButtons {
        width: 400px;
        height: 89px;
        bottom: 0;
        position: absolute;
    }

    .accountButtons li {
        padding: 5px 0;
        width: 40%;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
        border-radius: 25px 0 0 25px;
        animation: fadeIn 0.3s;
        transition: 0.3s ease;
    }

    div.searchBarMobile {
        margin-bottom: 10px;
        height: 37px;
        display: flex;
    }

    .searchBarMobile input {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .searchBar {
        display: none;
    }

    .hamburger {
        display: block;
        padding-right: 15px;
        margin: 0;
    }
    
    .department {
        cursor: pointer;
        margin-bottom: 12px;
    }

    .dropdown  {
        position: relative;
        margin: 5px;
        box-shadow: none;
    }

    .dropdown li {
        width: auto;
        padding: 5px;
        margin: 0;
    }
    
    .div.accountButtons {
        width: 400px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color:var(--darker-grey);
        text-align: center;
        top: 0;
        height: 100vh;
        width: 100%;
        padding: 10px 0 10px 0;
        filter: none;
    }

    .mainNav h2 {
        margin-top: 50px;
    }

    input[type=checkbox]:checked ~ .menu {
        border-radius: 0px;
    }

    div.searchBarMobile input {
        width: 90%;
    }

    .accountButtons {
        width: 100%;
    }
}
